

// General colors
$black: #000000;
$white: #ffffff;
$yellow: #FFD200;
$red: #C30831;
$grey_txt: #404040;

// Chat
$bg_chat_grey: #EDEDE2;

// Chat expanded
$bg_chat_grey94: rgba(245, 245, 234, .94);
$bg_chat_white12: rgba(255, 255, 255, .12);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Open+Sans:400,700&display=swap');

$font_open_sans: 'Open Sans', sans-serif;
$font_josefin_sans: 'Josefin Sans', sans-serif;

// Mixins
@mixin placeholder {
   ::-webkit-input-placeholder { @content;}
   :-moz-placeholder           { @content;}
   ::-moz-placeholder          { @content;}
   :-ms-input-placeholder      { @content;}
}


//General
/*
body {
  margin: 0;
  padding: 0;

}
*/

a {
  color: #00B7FF;
}

::-webkit-input-placeholder {
  color: $grey_txt;
}

:-ms-input-placeholder {
  color: $grey_txt;
}

::placeholder {
  color: $grey_txt;
}





// Block
.block-drupal-chatbot {
	// Ask Noa modal
	.modal {
		&-full {
		    margin: 0;
		    min-width: 100%;
		}
		&-content {
			background-color: $bg_chat_grey;
			min-height: 100vh;
			border-radius: 0;
			border: 0;
      overflow: hidden;
		}
		&-header {
			border: 0;
		}
		&-footer {
			border: 0;
		}
	}

}

// Chatbox states

// start, waiting, attention, thinking, speaking


$chat-states: ('start', 'item'),('waiting', 'item'),('attention', 'item'),('thinking', 'item'),('speaking', 'item');

.botui-app-container {
  @each $state in $chat-states {
    &.#{nth($state,1)} {
      //&background-color: nth($state,2);
      content: nth($state, 2);

    }
  }
}

[data-value="waiting"] {
  // border: 4px solid blue !important;

}
.bg-modal-content {

	&:before {
	  position: fixed;
	  content: '';
	  display: block;
	  width: 90%;
	  height: 90%;
	  width: 100%;
	  height: 50vh;
// 	  background: url('../images/particle_bot_halo.png') center bottom no-repeat;
	  background-image: url(../images/3seeds/3%20Semillas_00000.png);
	  background-position: center 50%;
	  background-repeat: no-repeat;
	  bottom: -290px;
	  left: 0;
// 	  transform: translateY(-50%);
    @media (max-width: 576px) {
// 	  	background-position: center bottom;
	    bottom: -150px;
	  	background-size: 453px 453px;

	  }
	}
	&[data-state="waiting"] {
	    &:before {
	      content: 'debug-state: waiting';
		  background-image: url(../images/3seeds/3%20Semillas_00373.png);
	      text-align: right;
	      color: red;
	    }
	}

}


$time: 1000ms;
$number-of-frames: 10;
$frame-duration: $time / $number-of-frames;

@keyframes frame-animation {
  100% {
    transform: translateX(-100%);
  }
}

.Animation {
  overflow: hidden;
}

.Animation-frames {
  animation: frame-animation $time infinite;
  animation-timing-function: steps($number-of-frames);
  display: flex;
  width: $number-of-frames * 100%;
}

.Animation-frame {
  display: block;
  width: 100% / $number-of-frames;
  max-width: 100% / $number-of-frames;
  flex-basis: 100% / $number-of-frames;
}












.ask-noa {
  background: none;
  color: $red;
  border: 0;
  &:after {
    // video??
    content: '';
    display: blocK;
    width: 187px;
    height: 187px;
    // background: url('../assets/images/particle_bot.png') center bottom no-repeat;
    background: url('../images/noa-waiting.gif') center bottom no-repeat;
    background: url('../images/noa-speaking.gif') center bottom no-repeat;
    background: url('../images/noa-3-semillas.gif') center bottom no-repeat;
  }
  &:hover, &:focus, &:active {
    background: none !important;
    color: $grey_txt;
    border: 0 !important;;
    box-shadow: 0 !important;
    outline: 0 !important;
    border-radius: 0;
    transition: none;
  }
}


// Chat box
.chat-box {
  &.state-default {
    background: #EDEDE2 0% 0% no-repeat padding-box;

  }

  &.state-collapsed {

  }
}


.botui-modal {
  display: block;
  min-height: 80vh;
  background-color: $bg_chat_grey;
  overflow: hidden;
  @media (min-width: 1024px) {
    padding: 40px 150px;
  }

  .bg-modal-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;

  }


  .botui-modal-content {
    position: relative;

    button {
      &.close {
        text-align: center;
        letter-spacing: -0.09px;
        color: $red;
        font-size: 18px;
        font-family: $font_josefin_sans;
        opacity: 1;
        position: absolute;
        top: -20px;
        right: 0;
        span {
	        display: flex;
	        align-items: center;
	        &:before {
		        display: inline-block;
            content: '';
		        background: url(../images/icon_close.svg) center center no-repeat;
            width: 40px;
            height: 40px;
	        }
        }
        @media (max-width: 1024px) {
          position: fixed;
          top: 0px;
          right: 0px;
          span {
            text-indent: -9999px;
            &:before {
              opacity: 1;
            }
          }
        }

        &:hover {
          color: $black;
        }
      }
    }
    .box {
      &-subtitle {
        display: block;
        margin: 0 auto;
        text-align: center;
        // font: Bold 18px/27px Open Sans;
        font-family: $font_open_sans;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0;
        color: $grey_txt;
        opacity: 1;
        margin-bottom: 18px;
        @media (max-width: 576px) {
          font-size: 12px;
        }

      }
      &-title {
        text-align: center;
        font: Bold 62px/62px Josefin Sans;
        font-family: $font_josefin_sans;
        font-size: 62px;
        font-weight: bold;
        letter-spacing: -0.31px;
        color: $red;

      }
    }

  }
}


// Chabot interface style
.botui-container {
  background: none;
}
.botui-messages-container {
  padding: 20px 20px 10px;
}

.botui-app-container {
  width: 100%; // mobile-first
  height: 100%;
  line-height: 1;

  @media (min-width: 400px) {
    width: 320px;
    height: 500px;
    margin: 0 auto;
  }
  @media (min-width: 1024px) {
    width: 700px;
    height: 500px;
    margin: 0 auto;
  }

  .botui-message-content {
    padding: 7px 13px;
    border-radius: 5px;
    display: inline-block;
    background-color: $yellow;
    color: $grey_txt;
    font-family: $font_open_sans;
    font-size: 19px;
    position: relative;
    white-space: wrap;
    @media (max-width: 576px) {
      max-width: 90%;
      &.text {
        width: 90%;
      }
    }


    &:not(.human) {
      margin-top: 22px;
      &:before {
        content: 'Schär';
        position: absolute;
        top: -25px;
        left: 0;
        display: block;
        font-family: $font_open_sans;
        color: $red;
        font-size: 18px;
        font-weight: bold;
      }
    }

    &.human { // if human = true
      background-color: $white;
      color: $grey_txt;
    }

    &.text {
      line-height: 1.2;
    }
    &.loading {
      background-color: rgba(206,206,206,0.50);
      line-height: 1.3;
      text-align: center;
    }
    &.embed {
      padding: 5px;
      border-radius: 5px;
    }
  }

  .botui-actions-container {
    .botui-actions-text {
      // background-color: $white;
      display: flex;
      justify-content: flex-end;
      // align-items: center;
      // max-width: 515px;
      // border: 4px solid red;
      font-family: $font_open_sans;
      font-size: 19px;

      // display: inline-block;
      border-radius: 5px;
      float: right;
      @media (max-width: 576px) {
        max-width: 100%;
        justify-content: center;
      }


      .botui-actions-text-input {
        background-color: $white;
        border-radius: 3px;
        // padding: 7px 13px;
        // padding-left: 28px;
        // margin-right: 1px;

        max-width: 400px;
        @media (min-width: 1024px) {
          padding-left: 28px;
          min-width: 400px;
        }
        &:focus {
          border: 0;
        }
        border: 0;
        @include placeholder {
          font-family: $font_open_sans;
          color: $grey_txt;
          opacity: 1;
        }
        @media (max-width: 576px) {
          max-width: 80%;
        }


      }
      .botui-actions-text-submit {
        flex: 1;
        // display: inline-block;
        display: flex;
        font-size: 0;
        background: none;
        width: 30px;
        width: auto;
        height: auto;
        border: 0;
        border-radius: 0;
        // border: 3px solid red;
        background-color: $white;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        span {
          &:after {
            text-indent: 0;
            content: url('../images/icon_send.svg');
            display: block;
            width: 40px;
            height: 30px;
            // background-color: blue;
          }
          &:hover {
            &:after {
                fill: #DA4567;
                // content: url('../images/icon_send_hover.svg');

            }
          }
        }
      }
    }
  }


}



