@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Open+Sans:400,700&display=swap");
/*
body {
  margin: 0;
  padding: 0;

}
*/
a {
  color: #00B7FF; }

::-webkit-input-placeholder {
  color: #404040; }

:-ms-input-placeholder {
  color: #404040; }

::placeholder {
  color: #404040; }

.block-drupal-chatbot .modal-full {
  margin: 0;
  min-width: 100%; }

.block-drupal-chatbot .modal-content {
  background-color: #EDEDE2;
  min-height: 100vh;
  border-radius: 0;
  border: 0;
  overflow: hidden; }

.block-drupal-chatbot .modal-header {
  border: 0; }

.block-drupal-chatbot .modal-footer {
  border: 0; }

.botui-app-container.start {
  content: "item"; }

.botui-app-container.waiting {
  content: "item"; }

.botui-app-container.attention {
  content: "item"; }

.botui-app-container.thinking {
  content: "item"; }

.botui-app-container.speaking {
  content: "item"; }

.bg-modal-content:before {
  position: fixed;
  content: '';
  display: block;
  width: 90%;
  height: 90%;
  width: 100%;
  height: 50vh;
  background-image: url(../images/3seeds/3%20Semillas_00000.png);
  background-position: center 50%;
  background-repeat: no-repeat;
  bottom: -290px;
  left: 0; }
  @media (max-width: 576px) {
    .bg-modal-content:before {
      bottom: -150px;
      background-size: 453px 453px; } }

.bg-modal-content[data-state="waiting"]:before {
  content: 'debug-state: waiting';
  background-image: url(../images/3seeds/3%20Semillas_00373.png);
  text-align: right;
  color: red; }

@keyframes frame-animation {
  100% {
    transform: translateX(-100%); } }

.Animation {
  overflow: hidden; }

.Animation-frames {
  animation: frame-animation 1000ms infinite;
  animation-timing-function: steps(10);
  display: flex;
  width: 1000%; }

.Animation-frame {
  display: block;
  width: 10%;
  max-width: 10%;
  flex-basis: 10%; }

.ask-noa {
  background: none;
  color: #C30831;
  border: 0; }
  .ask-noa:after {
    content: '';
    display: blocK;
    width: 187px;
    height: 187px;
    background: url("../images/noa-waiting.gif") center bottom no-repeat;
    background: url("../images/noa-speaking.gif") center bottom no-repeat;
    background: url("../images/noa-3-semillas.gif") center bottom no-repeat; }
  .ask-noa:hover, .ask-noa:focus, .ask-noa:active {
    background: none !important;
    color: #404040;
    border: 0 !important;
    box-shadow: 0 !important;
    outline: 0 !important;
    border-radius: 0;
    transition: none; }

.chat-box.state-default {
  background: #EDEDE2 0% 0% no-repeat padding-box; }

.botui-modal {
  display: block;
  min-height: 80vh;
  background-color: #EDEDE2;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .botui-modal {
      padding: 40px 150px; } }
  .botui-modal .bg-modal-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block; }
  .botui-modal .botui-modal-content {
    position: relative; }
    .botui-modal .botui-modal-content button.close {
      text-align: center;
      letter-spacing: -0.09px;
      color: #C30831;
      font-size: 18px;
      font-family: "Josefin Sans", sans-serif;
      opacity: 1;
      position: absolute;
      top: -20px;
      right: 0; }
      .botui-modal .botui-modal-content button.close span {
        display: flex;
        align-items: center; }
        .botui-modal .botui-modal-content button.close span:before {
          display: inline-block;
          content: '';
          background: url(../images/icon_close.svg) center center no-repeat;
          width: 40px;
          height: 40px; }
      @media (max-width: 1024px) {
        .botui-modal .botui-modal-content button.close {
          position: fixed;
          top: 0px;
          right: 0px; }
          .botui-modal .botui-modal-content button.close span {
            text-indent: -9999px; }
            .botui-modal .botui-modal-content button.close span:before {
              opacity: 1; } }
      .botui-modal .botui-modal-content button.close:hover {
        color: #000000; }
    .botui-modal .botui-modal-content .box-subtitle {
      display: block;
      margin: 0 auto;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0;
      color: #404040;
      opacity: 1;
      margin-bottom: 18px; }
      @media (max-width: 576px) {
        .botui-modal .botui-modal-content .box-subtitle {
          font-size: 12px; } }
    .botui-modal .botui-modal-content .box-title {
      text-align: center;
      font: Bold 62px/62px Josefin Sans;
      font-family: "Josefin Sans", sans-serif;
      font-size: 62px;
      font-weight: bold;
      letter-spacing: -0.31px;
      color: #C30831; }

.botui-container {
  background: none; }

.botui-messages-container {
  padding: 20px 20px 10px; }

.botui-app-container {
  width: 100%;
  height: 100%;
  line-height: 1; }
  @media (min-width: 400px) {
    .botui-app-container {
      width: 320px;
      height: 500px;
      margin: 0 auto; } }
  @media (min-width: 1024px) {
    .botui-app-container {
      width: 700px;
      height: 500px;
      margin: 0 auto; } }
  .botui-app-container .botui-message-content {
    padding: 7px 13px;
    border-radius: 5px;
    display: inline-block;
    background-color: #FFD200;
    color: #404040;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    position: relative;
    white-space: wrap; }
    @media (max-width: 576px) {
      .botui-app-container .botui-message-content {
        max-width: 90%; }
        .botui-app-container .botui-message-content.text {
          width: 90%; } }
    .botui-app-container .botui-message-content:not(.human) {
      margin-top: 22px; }
      .botui-app-container .botui-message-content:not(.human):before {
        content: 'Schär';
        position: absolute;
        top: -25px;
        left: 0;
        display: block;
        font-family: "Open Sans", sans-serif;
        color: #C30831;
        font-size: 18px;
        font-weight: bold; }
    .botui-app-container .botui-message-content.human {
      background-color: #ffffff;
      color: #404040; }
    .botui-app-container .botui-message-content.text {
      line-height: 1.2; }
    .botui-app-container .botui-message-content.loading {
      background-color: rgba(206, 206, 206, 0.5);
      line-height: 1.3;
      text-align: center; }
    .botui-app-container .botui-message-content.embed {
      padding: 5px;
      border-radius: 5px; }
  .botui-app-container .botui-actions-container .botui-actions-text {
    display: flex;
    justify-content: flex-end;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    border-radius: 5px;
    float: right; }
    @media (max-width: 576px) {
      .botui-app-container .botui-actions-container .botui-actions-text {
        max-width: 100%;
        justify-content: center; } }
    .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-input {
      background-color: #ffffff;
      border-radius: 3px;
      max-width: 400px;
      border: 0; }
      @media (min-width: 1024px) {
        .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-input {
          padding-left: 28px;
          min-width: 400px; } }
      .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-input:focus {
        border: 0; }
      .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-input ::-webkit-input-placeholder {
        font-family: "Open Sans", sans-serif;
        color: #404040;
        opacity: 1; }
      .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-input :-moz-placeholder {
        font-family: "Open Sans", sans-serif;
        color: #404040;
        opacity: 1; }
      .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-input ::-moz-placeholder {
        font-family: "Open Sans", sans-serif;
        color: #404040;
        opacity: 1; }
      .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-input :-ms-input-placeholder {
        font-family: "Open Sans", sans-serif;
        color: #404040;
        opacity: 1; }
      @media (max-width: 576px) {
        .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-input {
          max-width: 80%; } }
    .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-submit {
      flex: 1;
      display: flex;
      font-size: 0;
      background: none;
      width: 30px;
      width: auto;
      height: auto;
      border: 0;
      border-radius: 0;
      background-color: #ffffff;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
      .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-submit span:after {
        text-indent: 0;
        content: url("../images/icon_send.svg");
        display: block;
        width: 40px;
        height: 30px; }
      .botui-app-container .botui-actions-container .botui-actions-text .botui-actions-text-submit span:hover:after {
        fill: #DA4567; }
