{% for dr in params.botheaderlogo %}


{#
<div class="botui-app-container" id="botui-app">
  <bot-ui></bot-ui>
</div>
#}




    <a href="#noaModal" role="button" class="btn btn-primary ask-noa state-waiting" data-toggle="modal">Ask Noa</a>

    <div class="modal fade" id="noaModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
                <div class="modal-header d-none">
                    <h5 class="modal-title">Modal Local testing</h5>
                    <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                        <span>X</span> Close</span>
                    </button>
                </div>
                <div class="modal-body p-4" id="result">
                  <div class="row">

                      <div class="col-sm-12 col-lg-12">
                        <div class="botui-modal chat-states">

                          <div class="botui-modal-content">
                        <div class="bg-modal-content"></div>
                            <!-- <button class="btn close"><span>X</span> Close</button> -->
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                              <span>Close</span>
                            </button>



                            <span class="box-subtitle">HAVE ANY QUESTIONS?</span>
                            <h2 class="box-title">Ask Noa</h2>

                            <div class="botui-app-container" id="botui-app">
                            	<bot-ui></bot-ui>
                            </div>

                          </div>

                        </div>

                      </div>
                  </div>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
                -->
            </div>
        </div>
    </div>

{% endfor %}
